.container {
    background-color: #fffcfc;
    min-height: 100vh;
  }
  
  .main {
    color: rgb(255, 255, 255);
    padding: 0 4em;
  }
  
  .grantsContainer {
    display: flex;
    gap: 4em;
    flex-wrap: wrap;
  }
  
  .grantInfo {
    padding: 2em;
    color: antiquewhite;
    background-color: rgb(255, 255, 255);
    border-radius: 2em;
    max-width: 65ch;
  }